<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Home Page</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="">
        <button type="submit">submit</button>
    </form>

    <div id="keywords" style="columns: 4">
        <% if (locals.keywords) { %>
            <% for( let index = 0; index < keywords.length; index++ ) { %>
                <div style="text-overflow: ellipsis; overflow: hidden;"><%= keywords[index] %></div>
            <% } %>
        <% } %>
    </div>
</body>
</html>